.momentValueWidget
{
	width: 10%;
	height: 300;
	float: left;
}

.momentValueWidget > img
{
	width: 64px;
	height: 64px;
	float: left;
}

.momentValueWidget > .sensorValue
{
	float: left;
}

.PageHeader > h1
{
}

.PageHeader
{
	
}

#plotsContainer
{
	float:left;
	/*width: 70%;*/
}

#plotsContainer > div
{
	float:left;
	
}

#Content > div
{
	float:left;
	
}


#plotsContainer > div > img
{
	
}

#webCamContainer
{
	float:left;
	height: 200px;
}

#webCamContainer > img
{
	width: 100%;
	height: 100%;
}

.SideCollumn
{
	float:left;
	width: 30%;
}

#Content
{
	clear: both;
}

#Footer
{
	clear: both;
}

#TimeSelections
{
	float: left;
	width: 300px;
	height: 200px; 	
}